.hero-section {
  height: 80vh;
  background: url("/parking/assets/images/civilmall.jpg") center / cover no-repeat;
  position: relative;
}

/* REMOVE background-color from overlay */
.overlay {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* ONLY opacity, no solid color */
}

.hero-content {
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
}

.btn-start {
  background: #28a745;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 6px;
}