 body {
   margin: 0;
   font-family: Arial, sans-serif;
 }

 .hero-img {
   position: relative;
   width: 100%;
   height: 600px;
   overflow: hidden;
 }

 .hero-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .hero-img::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
   z-index: 1;
 }

 .search {
   position: absolute;
   z-index: 1;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: white;
 }


 .search p {
   font-size: 28px;
   font-weight: bold;
   margin-bottom: 50px;
   text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
 }

 form {
   display: flex;
   align-items: center;
   justify-content: center;
   background: white;
   border: 2px solid #3CB371;
   border-radius: 6px;
   overflow: hidden;
 }

 select,
 input {
   border: none;
   outline: none;
   padding: 14px 16px;
   font-size: 16px;
   width: 180px;
   border-right: 1px solid #ddd;
 }

 select:first-child {
   width: 250px;
 }

 input::placeholder {
   color: #888;
 }

 button {
   background-color: #00A651;
   color: white;
   border: none;
   padding: 14px 28px;
   font-size: 16px;
   cursor: pointer;
   font-weight: bold;
   transition: 0.3s ease;
 }

 button:hover {
   background-color: #d66f1d;
 }

 /* Responsive */
 @media (max-width: 768px) {
   form {
     flex-direction: column;
   }

   select,
   input,
   button {
     width: 100%;
     border-right: none;
     border-bottom: 1px solid #ddd;
   }

   button {
     border-bottom: none;
   }
 }