body {
  background-color: #f5f7fa;
  min-height: 100vh;
}

.profile-wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 50px auto 40px;
  /* space for navbar */
  display: grid;
  grid-template-columns: 1fr;
}


.profile-info {
  background: #ffffff;
  border-radius: 14px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.profile-info h3 {
  margin-bottom: 25px;
  color: #1e293b;
  font-size: 22px;
}


.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}


.info-box {
  background: #f1f5f9;
  padding: 15px 18px;
  border-radius: 10px;
}

.info-box label {
  font-size: 13px;
  color: #64748b;
}

.info-box p {
  margin-top: 6px;
  color: #1e293b;
  font-weight: 500;
}


.edit-btn {
  grid-column: span 2;
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #1e3a8a;
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.edit-btn:hover {
  background: #0f172a;
}


@media (max-width: 768px) {
  .info-grid {
    grid-template-columns: 1fr;
  }

  .edit-btn {
    grid-column: span 1;
  }
}